.MMM-RTSP2WebRTC .wrapper {
  display: flex;
  flex-direction: column;
}

.MMM-RTSP2WebRTC .wrapper > .message-container,
.MMM-RTSP2WebRTC .wrapper > .player {
  display: flex;
  border: 1px solid var(--color-text-dimmed);
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.875);
  overflow: hidden;
}

.MMM-RTSP2WebRTC .wrapper > *:not(:first-child) {
  margin-top: 0.5rem !important;
}

.MMM-RTSP2WebRTC .wrapper > .message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.MMM-RTSP2WebRTC .wrapper > .message-container > .icon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.MMM-RTSP2WebRTC .wrapper > .player {
  padding-top: 0 !important;
  opacity: 0.9;
}

video-stream {
  border-radius: 0.25rem;
  overflow: hidden !important;
  z-index: 0;
  position: relative;
}

video-stream > .video-stream-player {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
}

video-stream > .video-stream-overlay {
  border-radius: 0.25rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: +1;
  background: black;
}

video-stream > .video-stream-overlay::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("assets/no-video.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  transform: translateY(-50%) translateX(-50%);
  animation: blink 1s linear infinite;
}

@keyframes blink {
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
}
